<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
    <title>Hall book</title>
    {% load static %}
    <link rel="stylesheet" href='/static/css/jquery-ui-1.10.4.min.css' type="text/css"/>
    <link rel="stylesheet" href='/static/css/style.css' type="text/css"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body ng-app="mainApp">
    <div ng-module="adminController">
    </div>
</div>
<script src='/static/jquery-1.9.1.min.js'></script>
<script src='/static/jquery-ui-1.10.4.min.js'></script>
<script src='/static/jquery.cookie.js'></script>
<script src='/static/angular.min.js'></script>
<script src='/static/bootstrap.min.js'></script>
</body>
</html>